* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0 auto;
}
